  {
	border:1px black solid;
	-webkit-appearance: none;
	font-size:0;
	margin:0;
}


svg {
	width:100%;
}

html, body {
	margin:0;
	padding:0;
}

	.outer {
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	
	.middle {
		display: table-cell;
		vertical-align: middle;
		margin:10px;
	}
	
	.inner {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}



.colleffect-logo {
	width:30%;
	overflow:hidden;
	margin:0 auto 5% auto;
}

h1 {
	font-family: "proxima-nova",sans-serif;
	color:#205382;
	font-size:7vw;
	text-align: center;
	margin:0;
	line-height: 105%;
}

h2 {
	font-family: "proxima-nova",sans-serif;
	font-size:3.5vw;
	text-align:center;
	margin:2% 8% 4% 7%;
	line-height: 120%;
}

	/*use bootstrap grid*/
	.email-submit-form {
		width:82%;
		margin-left:auto;
		margin-right:auto;
	}	
	
	.email-form {
		width:100%;
	}

	.email-input {
		border:1px solid #cecece;
		font-size:16px;
		border-radius:0;
		padding:6px 6px;
		width:100%;
	}
	.email-submit-button {
		font-family: "proxima-nova", Arial, sans-serif;
		color:white;
		border:0;
		font-size:16px;
		background:#205382;
		margin:-15px 0;
		padding:6px 2px;
		width:100%;
	}


@media (min-width: 768px) {

	.colleffect-logo {
		max-width: 220px;
		margin:0px auto 50px auto;
	}
	
	h1 {
		font-size:48px;	
	}	
	
	h2 {
		font-size:20px;	
		width:630px;
		margin:10px auto 20px auto;
		padding:0;
	}

	.email-submit-form {
		width:450px;
	}	
	
	.email-form {
		width:66%;
	}
	
	.email-input {
		width:100%;
	}
	
	.email-submit-button {
		width:33%;
		vertical-align: middle;
	}
}